In [ ]:
import numpy as np
import pandas as pd

In [ ]:
core = np.round(np.linspace(0, 1, 10).reshape(2, 5), 2)

In [ ]:
core.astype("float64")

In [ ]:
# Memory location of a nd Array

core.data

In [ ]:
np.eye(10, k = 1)

In [ ]:
np.identity(10)

In [ ]:
np.int32(core)

In [ ]:
core

In [ ]:
[core[0, 0], core[1, 1]]

In [ ]:
np.round(np.random.rand(10).reshape(5, 2), 2)

In [ ]:
np.random.choice(core.flatten())

In [ ]:
np.random.rand(10).reshape(2 ,5)

In [ ]:
core.flatten()

In [ ]:
core.ravel()

In [ ]:
core.resize(2, 5)

In [ ]:
core.shape

In [ ]:
main = np.round(np.linspace(1, 10, 10).reshape(2, 5), 2)

In [ ]:
main

In [ ]:
huge = np.round(np.linspace(1, 100, 1000), 2).reshape(10, 100)

In [ ]:
np.vsplit(huge, 10)

In [ ]:
np.hsplit(huge, 10)

In [ ]:
np.round(np.random.rand(100).reshape(2, 5, 10), 2)

In [ ]:
sorted_main = main.ravel().astype("int64")

In [ ]:
np.sort(sorted_main, kind="quicksort").tolist()

In [ ]:
np.r_[1:3, 0, 10:23].reshape(2, 2, 4)

In [ ]:
np.asarray([1, 2, 3, 4])

In [ ]:
core[~np.isnan(core)]

In [ ]:
np.float64(core)

In [ ]:
core.shape

In [ ]:
main.shape

In [ ]:
dumb = np.linspace(0, 1, 12).reshape(2, 6)

In [ ]:
np.vsplit(dumb, 2)

In [ ]:
np.array(
    [
        ("anirudh", 9, 90),
        ("devansh", 19, 80),
        ("shiven", 12, 70),
    ],
    [
        ("name", "U10"),
        ("age", "i4"),
        ("weight", "i4"),
    ]
)

In [ ]:
np.linspace(1, 100, 10)

In [ ]:
np.arange(0.0, 0.5, 0.001).size

In [ ]:
np.eye(10, k = 1)

In [ ]:
np.asarray([1, 2, 3, 4, 5])

In [ ]:
np.ones_like(core)

In [ ]:
name = 'AN9ru#h'
counter = 0

for char in name:
    if not char.isalpha(): 
        continue
        
    if char.isupper():
        counter += 1

print(counter)

In [ ]:
name = "Anirudh34568&*;"
collection = {}

for char in name:
    if not char.isalpha(): 
        continue
        
    if collection.get(char):
        collection[char] += 1
    else:
        collection[char] = 1

print(collection)

In [ ]:
count = 1000

len([element for element in range(1, (count * 2) + 1) if element % 2 == 0])

In [ ]:
"anirudh".replace("", "  ").strip()

In [ ]:
np.array([12, 12.2, 'anirudh']).dtype

In [ ]:
np.array([12, 12]).data

# **Pandas**

In [ ]:
employee_df = pd.read_csv("https://anirudhbhadauria.blob.core.windows.net/test-storage/source/Employee_Compensation.csv", index_col = 0)

In [ ]:
employee_df = employee_df.drop_duplicates()

In [ ]:
employee_df = employee_df[employee_df['Year'].notna()]

In [36]:
employee_df[employee_df['Year'].isin([2017, 2019])].sort_values("Year", ascending=False).sample(5)

,Job Family Code,Job Code,Year Type,Year,Organization Group,Department Code,Department,Union Code,Union,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health and Dental,Other Benefits,Total Benefits,Total Compensation
Organization Group Code,,,,,,,,,,,,,,,,,,,,,
4,2300,2320,Fiscal,2019,Community Health,DPH,Public Health,791,"SEIU, Local 1021, RN",Nursing,...,40366155.0,12267.90,0.00,1215.37,13483.27,2510.58,1533.75,1048.37,5092.70,18575.97
2,9100,9132,Calendar,2017,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agcy,254,"TWU, Local 250-A, TranFare",Street Transit,...,37069215.0,12767.26,0.00,789.81,13557.07,2411.14,8936.21,1067.10,12414.45,25971.52
6,7300,7338,Fiscal,2017,General Administration & Finance,TIS,Department of Technology,6,"Electrical Workers, Local 6",Journeyman Trade,...,37065107.0,91207.10,18112.11,1176.29,110495.50,7373.29,13925.33,8821.70,30120.32,140615.82
6,2400,2456,Calendar,2017,General Administration & Finance,ADM,Administrative Services,21,"Prof & Tech Eng, Local 21","Lab, Pharmacy & Med Techs",...,36994464.0,98193.20,0.00,0.00,98193.20,18376.29,14010.17,7944.24,40330.70,138523.90
2,9100,9163,Fiscal,2017,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agcy,253,"TWU, Local 250-A, TransitOpr",Street Transit,...,36646187.0,71810.85,10212.07,2210.55,84233.47,14960.01,14490.19,6221.63,35671.83,119905.30